* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth !important; }

html {
  font-size: 15px; }
  @media screen and (max-width: 1800px) {
    html {
      font-size: 12px; } }
  @media screen and (max-width: 1200px) {
    html {
      font-size: 9px; } }
  @media screen and (max-width: 900px) {
    html {
      font-size: 7px; } }
  @media screen and (max-width: 600px) {
    html {
      font-size: 9px; } }

.bigHeader {
  font-size: 4.4rem;
  padding: 4rem 0; }

.header {
  background-image: linear-gradient(to right bottom, rgba(145, 145, 145, 0.4), rgba(145, 145, 145, 0.6)), url(../img/header.jpg);
  background-size: cover;
  width: 100%;
  min-height: 70vh;
  padding: 5rem 8rem; }
  @media screen and (max-width: 1800px) {
    .header {
      min-height: 50vh;
      padding: 3rem 8rem; } }
  @media screen and (max-width: 1200px) {
    .header {
      min-height: 40vh;
      padding: 4rem 8rem; } }
  @media screen and (max-width: 900px) {
    .header {
      min-height: 30vh;
      padding: 1rem 8rem; } }
  @media screen and (max-width: 600px) {
    .header {
      min-height: unset !important;
      padding: 1rem 3rem; } }
  .headerText {
    width: 50%; }
    @media screen and (max-width: 600px) {
      .headerText {
        width: 90%; } }
  .header p {
    font-size: 2rem;
    margin-bottom: 5rem; }

.btn {
  padding: 1.6rem 2.2rem;
  background-color: #94150c;
  text-decoration: none;
  color: #919191;
  font-size: 2.2rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.6);
  transition: all .4s; }
  .btn:hover {
    color: #abc22b; }

.icons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5rem 0; }
  .iconsContent {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center; }
    @media screen and (max-width: 1800px) {
      .iconsContent {
        width: 80%; } }
    @media screen and (max-width: 1200px) {
      .iconsContent {
        width: 90%; } }
    @media screen and (max-width: 900px) {
      .iconsContent {
        width: 100%; } }
    @media screen and (max-width: 600px) {
      .iconsContent {
        width: 100%; } }
    .iconsContentIcon {
      width: 50%;
      padding: 3rem 6rem;
      text-align: center; }
      @media screen and (max-width: 900px) {
        .iconsContentIcon {
          width: 70%; } }
      @media screen and (max-width: 600px) {
        .iconsContentIcon {
          width: 90%; } }
      .iconsContentIcon p {
        font-size: 1.2rem;
        transition: all .3s; }
        @media screen and (max-width: 1800px) {
          .iconsContentIcon p {
            font-size: 1.4rem; } }
        @media screen and (max-width: 900px) {
          .iconsContentIcon p {
            font-size: 1.8rem; } }
        @media screen and (max-width: 600px) {
          .iconsContentIcon p {
            font-size: 2.2rem; } }
        .iconsContentIcon p:hover {
          color: #919191; }

.littleHeading {
  font-size: 2.4rem;
  padding: 1rem 0;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom right, #abc22b, #94150c);
  -webkit-background-clip: text;
  color: transparent;
  display: block; }
  @media screen and (max-width: 1200px) {
    .littleHeading {
      font-size: 2.6rem; } }
  .littleHeading:hover {
    background-image: linear-gradient(to top left, #abc22b, #94150c);
    -webkit-background-clip: text;
    color: transparent; }

.icon {
  width: 6rem;
  fill: #5c5c5c;
  transition: all 1s; }
  .icon:hover {
    transform: rotate(360deg); }

.about {
  width: 100%;
  background-color: #94150c;
  padding: 5rem 8rem;
  z-index: -1;
  position: relative;
  position: relative;
  overflow: hidden; }
  @media screen and (max-width: 1800px) {
    .about {
      padding: 4rem 6rem; } }
  .aboutContent {
    width: 70%;
    display: block;
    margin: 0 auto; }
    @media screen and (max-width: 1800px) {
      .aboutContent {
        width: 80%; } }
  .about p {
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    line-height: 2.2rem; }
    @media screen and (max-width: 1800px) {
      .about p {
        font-size: 1.5rem; } }
  .aboutQuote {
    position: absolute;
    top: -8rem;
    right: -1rem;
    font-size: 20rem;
    color: rgba(145, 145, 145, 0.6);
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif; }

.pricing {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5rem 0; }
  .pricingContent {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    text-align: center; }
    @media screen and (max-width: 1800px) {
      .pricingContent {
        width: 70%; } }
    @media screen and (max-width: 1200px) {
      .pricingContent {
        width: 80%; } }
    .pricingContentBase {
      padding: 2rem 3rem;
      border: 2px solid #2d2d2e; }
    .pricingContentOptions {
      width: 50%;
      border: 2px solid #2d2d2e;
      border-top: none;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media screen and (max-width: 900px) {
        .pricingContentOptions {
          width: 100%; } }
      .pricingContentOptions:nth-child(+2n) {
        border-right: none; }
        @media screen and (max-width: 900px) {
          .pricingContentOptions:nth-child(+2n) {
            border-right: 2px solid #2d2d2e; } }
      .pricingContentOptions img {
        width: 100%;
        display: block; }
  .pricingDescription {
    font-size: 1.4rem;
    padding: 1rem 2rem; }
    @media screen and (max-width: 1200px) {
      .pricingDescription {
        font-size: 1.8rem; } }

.price {
  font-size: 3rem;
  margin-top: 3rem;
  font-weight: 300;
  display: inline-block; }
  @media screen and (max-width: 900px) {
    .price {
      margin-bottom: 3rem; } }

.contact {
  width: 100%;
  background-image: linear-gradient(to bottom right, #5c5c5c, #2d2d2e);
  padding: 5rem 0;
  display: flex;
  justify-content: center; }
  .contactBox {
    width: 60%;
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 50%, transparent 50%), url(../img/header.jpg);
    background-size: cover;
    padding: 2rem 3rem;
    border-radius: .5rem; }
    @media screen and (max-width: 1800px) {
      .contactBox {
        width: 70%;
        background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 65%, transparent 65%), url(../img/header.jpg); } }
    @media screen and (max-width: 1200px) {
      .contactBox {
        width: 85%; } }
    @media screen and (max-width: 900px) {
      .contactBox {
        width: 95%;
        background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.6)), url(../img/header.jpg); } }
    @media screen and (max-width: 900px) {
      .contactBox {
        padding: 3rem 4rem; } }
    .contactBoxContent {
      width: 40%; }
      @media screen and (max-width: 1200px) {
        .contactBoxContent {
          width: 60%; } }
      @media screen and (max-width: 900px) {
        .contactBoxContent {
          width: 70%;
          margin: auto; } }

.formGroupText {
  width: 100%; }

.formGroupRadio {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center; }

.formText {
  width: 100%;
  outline: none;
  background-color: rgba(145, 145, 145, 0.6);
  border: none;
  border-bottom: 0.3rem solid #2d2d2e;
  font-size: 2rem;
  margin-bottom: 1.2rem;
  border-radius: .3rem;
  padding: 1rem 2rem; }
  .formText:valid {
    border-bottom: 0.3rem solid #abc22b; }
  .formText::-webkit-input-placeholder {
    color: #2d2d2e; }

.formRadio {
  display: none; }

.formChoice {
  width: 50%;
  font-size: 2rem;
  padding: 0 2rem;
  color: #5c5c5c; }
  .formChoiceCircle1, .formChoiceCircle2 {
    opacity: 0;
    visibility: hidden;
    color: rgba(0, 0, 0, 0.8);
    transition: all .4s; }

.formSubmit {
  margin: 2rem 0;
  padding: 1.2rem 1.8rem;
  font-size: 2rem;
  background-color: #2d2d2e;
  color: #94150c;
  border-radius: .3rem;
  border: none;
  transition: all .4s; }
  @media screen and (max-width: 900px) {
    .formSubmit {
      display: block;
      margin: 2rem auto; } }
  .formSubmit:hover {
    color: #abc22b; }

#order:checked ~ .formChoice .formChoiceCircle2 {
  opacity: 1;
  visibility: visible; }

#service:checked ~ .formChoice .formChoiceCircle1 {
  opacity: 1;
  visibility: visible; }

.mobile {
  width: 100%; }
  @media screen and (min-width: 901px) {
    .mobile {
      display: none; } }
  .mobileCheckbox {
    display: none; }
    .mobileCheckbox:checked ~ .mobileNav {
      opacity: 1;
      visibility: visible;
      transform: translateX(0); }
  .mobileButton {
    position: fixed;
    top: 4rem;
    right: 4rem;
    z-index: 100;
    background-image: linear-gradient(to right bottom, #74831d, #99ad26);
    width: 8rem;
    height: 8rem;
    font-size: 4rem;
    border-radius: 50%;
    box-shadow: 0 0 3rem rgba(45, 45, 46, 0.6); }
    .mobileButtonHam {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .mobileNav {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    box-shadow: -5px 0px 15px 1px rgba(0, 0, 0, 0.75);
    transition: all 1s;
    width: 70%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(145, 145, 145, 0.95); }
    .mobileNavList {
      display: flex;
      height: 100%;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      align-self: center;
      list-style-type: none; }
    .mobileNavItem {
      padding-bottom: 4rem; }
    .mobileNavLink {
      text-decoration: none;
      color: #abc22b;
      font-size: 5rem; }
      @media screen and (max-width: 900px) {
        .mobileNavLink {
          font-size: 8rem; } }
      @media screen and (max-width: 600px) {
        .mobileNavLink {
          font-size: 5rem; } }

.nav {
  position: relative;
  width: 100%;
  background-color: #94150c; }
  @media screen and (max-width: 900px) {
    .nav {
      display: none; } }
  .navList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    align-self: stretch;
    height: 100%;
    width: 100%;
    list-style-type: none; }
    @media screen and (max-width: 600px) {
      .navList {
        flex-direction: column; } }
  .navItem {
    padding: 1.6rem 3.6rem;
    height: 100%;
    border-bottom: 2px solid #94150c;
    transition: border-bottom .4s; }
    .navItem:hover {
      border-bottom: 2px solid #919191; }
    .navItem:hover .navLink {
      color: #abc22b; }
  .navLink {
    text-decoration: none;
    color: #919191;
    font-size: 2rem;
    transition: color .3s; }
    @media screen and (max-width: 1200px) {
      .navLink {
        font-size: 3.5rem; } }
    @media screen and (max-width: 900px) {
      .navLink {
        font-size: 4rem; } }
    @media screen and (max-width: 600px) {
      .navLink {
        font-size: 3rem; } }

.footer {
  padding: 1.4rem;
  background-color: #2d2d2e;
  color: #919191; }
  @media screen and (max-width: 900px) {
    .footer {
      font-size: 2.5rem; } }

.blog{
  width: 80%;
  padding: 5rem 0;
  margin: auto;

  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
  align-items: center;
	align-content: center;

}

.blogPost{
  width: 40%;
  height: 40rem;
  margin-bottom: 8rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);

}

.blogPost:nth-child(2n+1){
  margin-right: 8rem;
}

.blogPostImage {
  position: relative;
  display: block;
}

  .blogPostImage img{
    width: 100%;
     height: 40rem;
    
    
    filter: blur(3px);
    opacity: .8;
    z-index: 1;
    transition: all .4s;

    display: block;
}

.blogPost:hover .blogPostImage img{
  filter: none;
    opacity: .5;
    
}

.blogPostDesc{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 100%;
  padding: 0 1rem;
  
}

.blogPostDesc h6{
  font-size: 2.4rem;
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
}

.blogPostDesc h3{
  font-size: 3.4rem;
  transition: all .4s;
}

.blogPostDesc h3 a{
  text-decoration: none;
}



.blogPostDesc p{
  font-size: 1.8rem;
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
}

.blogPost:hover .blogPostDesc > h6
{
  opacity: 1;
  visibility:visible;
}

.blogPost:hover .blogPostDesc > p
{
  opacity: 1;
  visibility:visible;
}


.postHeader{
  width: 100%;
  padding: 10rem 5rem;
  background-size: cover;
  background-position: center;
}

.postHeader h2{
  font-size: 5rem;
}

.postHeader h6{
  font-size: 2rem;
}

.postHeaderCat{
  font-size: 1.8rem;
  text-decoration: none;
}

.post{
  width: 100%;
}

.postContent{
  width: 60%;
  margin: 2rem auto;
  font-size: 1.6rem;
}

.postContent p{
  padding: 1rem 0;
}

.logo{
  position: absolute;
  top: 1rem;
  right: 5rem;
  max-width: 30rem;
  max-height: 20rem;
  background-color: white;
  display: block;

  -webkit-box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.75);
box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.75);
 
}

.logo img{
  display: block;
  width: 100%;
  height: auto;
}